
/* Colors
    black, white
    pinks : #f9004d , #fcfc
    Blues : #60e4e6 , rgba(204, 255, 254, 0.8), 
    prom blues : #22dee1 , rgba(127, 254, 222, 0.8)

*/



*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    background-color: black;         
    background-image: url("./images/bg2.png");
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;                      
    align-items: baseline;                  
    justify-content: space-between;                            
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background: rgba( 96, 228, 230, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #22dee1;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #22dee1;
    transition: .4s;                            /* check out*/

}

.btn{
    background-color: #22dee1;
    color:white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transform 0.4s;
}

.btn:hover{
    transform: scale(1.2);                              /* check out*/
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%) ;                            /* check out*/
}
.content h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

.content h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

.content h4{
    color: #efbfbf;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative;                           /* check out*/
}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #22dee1;
    outline: none;
    border-radius: 20px;
}

.newsletter form input:last-child{
    position:absolute;                           /* check out*/
    display: inline-block;
    outline: none;
    border:none;
    padding: 11px 30px;
    border-radius: 30px;
    background-color: #22dee1;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.about .about-text{
    width: 550px;
    letter-spacing: 1px;
}

.about .main{
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    font-size: 22px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p{
    color: #efbfbf;
    /* text-align: justify; */
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 25px;
}

.about-text button{
    background-color: #22dee1;
    /* #22dee1    blue color  */
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 25px;
    transition: 0.4s;
    
    
}

.about-text button:hover{
    background-color: transparent;
    border: 2px solid #22dee1;
    cursor: pointer;
}

.service{
    width: 100%;
    background-color: #101010;
    padding: 100px 0px;  
}

.title h2{
    color: white;
    width: 100%;
    font-size: 75px;
    text-align: center;
    margin: 30px auto;
}

.box{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 400px;
}

.card{
    height: 415px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    display: block;
    font-size: 50px;
    text-align: center;
    margin: 25px 0px;
    color: #22dee1;
}

.card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.card .pra p{
    color: #efbfbf;
    line-height: 20px;
    margin-bottom: 30px;
    
}

.card .button{
    
    background-color: #22dee1;
    /* #22dee1    blue color  */
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 9px 22px;
    transition: 0.4s;
    
    
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #22dee1;
    cursor: pointer;
}

.contact{
    width: 100%;
    height: 200px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;

}

.contact .button-two{
    background-color: #22dee1;
    /* #22dee1    blue color  */
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 9px 22px;
    transition: .4s;
    
}

.contact .button-two:hover{
    background-color: transparent;
    border: 2px solid #22dee1;
    cursor: pointer;
}

footer{
    /* border: 2px solid green; */
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

footer p:nth-child(2){
    font-size: 17px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: bold;
    width: 500px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
}

.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    /* border: 2px green solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22dee1;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .4s;
}

.end{
    width:300px;
    height: 50px;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
    position: absolute;
    color: #22dee1;
    bottom: 23px;
    font-size: 14px;
    justify-content: center;
    
} 


.edu{
    width: 100%;
    background-color: #101010;
    padding: 100px 0px;
}

.edu .edu-title h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 25px auto;
}

.edu .edu-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.edu .edu-cards{
    height: 450px;
    width: 345px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
}

.edu .edu-cards:hover{
    box-shadow: inset 0px 0px 5px white,0px 0px 10px #000000 ;
    transition: .2s;
    transform: scale(1.1);
}

.edu-cards i{
    display: block;
    font-size: 40px;
    text-align: center;
    margin: 25px 0px;
    color: #22dee1;
}
.edu .edu-cards p:nth-child(2){
    color: white;
    margin: 10px 0px 6px 0px;
    font-size: 24px;
    font-weight: bold;
}
.edu .edu-cards p:nth-child(3){
    color: white;
    margin: 0px 0px 35px 0px;
    font-size: 20px;
    font-weight: bold;
}

.edu .edu-cards p:nth-child(4),p:nth-child(7),p:nth-child(10){
    text-align: left;
    color: white;
    margin: 20px 0px 5px 0px;
}

.edu .edu-cards p:nth-child(5),p:nth-child(8),p:nth-child(11){
    color:#efbfbf;
    font-size: 17px;
    margin: 0px 0px 20px 0px;
}

.skill{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.skill .skill-title h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 25px auto;
}

.skill-box{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    
}

.skill-sub-box{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}
.skill-sub-box .t-card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 235px;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    background-color: #22dee1;
    color: #101010;
    font-size: 17px;
    box-shadow: inset 0px 0px 50px #000000;
}

.skill-sub-box .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 235px;
    padding: 20px 35px;
    background: #101010;
    border-radius: 20px;
    margin: 8px;
    overflow: hidden;
    text-align: center;
    color: #22dee1;
    /* box-shadow: inset 0px 0px 20px #000000; */
}

.skill-sub-box .cards:hover{
    font-size: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 5px white,0px 0px 10px #000000,0px 0px 10px #22dee1  ;
    transition: .2s;
}

#photoshop:hover{
    background-image: url("./icons/photoshop.png");  
}
#illustrator:hover{
    background-image: url("./icons/illustrator.png"); 
}
#premier:hover{
    background-image: url("./icons/premier.png");   
}

#python:hover{
    background-image: url("./icons/python.png");  
}

#cpp:hover{
    background-image: url("./icons/cpp.png");   
}

#html:hover{
    background-image: url("./icons/html.png");  
}

#css:hover{
    background-image: url("./icons/css.png");   
}

#webcrawl:hover{
    background-image: url("./icons/webcrawl.png");
}

#frontend:hover{
    background-image: url("./icons/front-end.png");
}

.certif{
    width: 100%;
    background-color: #101010;
    padding: 100px 0px;
    box-shadow:  inset 0px 0px 20px #000000 ;
    
}

.certif .certif-title h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 25px auto;
}

.certif-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.certif .cards{
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 300px;
    padding: 20px 17px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0px 0px 20px #000000, inset 0px 0px 60px #000000 ;
    
}

.certif .cards .certif-pic{
    /* border: 2px solid green; */
    min-height: 200px; 
    margin-bottom: 30px;  
}
.certif-pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.certif .cards .certif-text :first-child{
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 70px;
}


.certif-text a{
    background-color: #22dee1;
    /* #22dee1    blue color  */
    color:white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 25px;
    transition: .3s;
}

#ds{
    margin-bottom: 95px;
}

.certif-text a:hover{
    background-color: transparent;
    border: 2px solid #22dee1;
    cursor: pointer;

}

.achieve{
    width: 100%;
    background-color: #191919;
    padding: 100px 0px;
    /* box-shadow:  inset 0px 0px 20px #000000 ; */
    
}

.achieve .achieve-title h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 35px auto;
}

.achieve-box{
    width: 100%;
    height: 300px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px #22dee1; */

}

.achieve-box i{
    color: #22dee1;
    font-size: 180px;
    padding: 20px;
    margin: 60px;
    background-color: #101010;
    /* box-shadow: inset 0px 0px 20px #000000, inset 0px 0px 60px #000000 ; */
    border-radius: 20px;
}

.achieve-text p{
    color:white;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.achieve-text :nth-child(2){
    color:#efbfbf ;
    font-size: 35px;
    font-weight: light;
    text-align: left;
    margin-bottom: 5px;
}
.achieve-text :nth-child(3){
    color:#efbfbf ;
    font-size: 20px;
    font-weight: light;
    text-align: left;

}

.achieve-text span{
    color: white;
    font-size: 120px;
    transition: 3.4s;

}
.achieve-text sup{
    font-size: 60px;
    color: #22dee1;
}

.achieve-text span:hover{
    font-size: 280px;

}

.proj{
    width: 100%;
    padding: 100px 0px;
    background-color: #101010;
}

.proj-title h2{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 35px auto;

}
.proj-box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.proj-cards{
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 360px;
    padding: 20px 17px;
    background: #191919;
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0px 0px 20px #000000, inset 0px 0px 60px #000000 ;

}
.proj-pic{
    /* border: 2px solid green; */
    margin-bottom: 20px;
    min-height: 260px;
    /* overflow: hidden; */
}
.proj-pic img{
    width:100%;
    height: 250px;
    border-radius: 20px;
}

.proj-cards .proj-text{
    /* border: 2px solid green; */
    /* text-align: center; */
    width: 100%;
    min-height: 80px;
    color: #22dee1;
    overflow: hidden;
    margin-bottom: 10px;
}

.proj-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.proj-btn a{
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    background-color: #22dee1;
    border-radius: 30px;
    margin: 0px 5px;
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}
.proj-btn a:hover{
    transform: scale(1.1);
    background-color: transparent;
}

.proj span{
    color: white;
}