*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

.container{
    display: grid;
    height: 100svh;
    width: 90%;
    margin: auto;
    background-color: black;
}